{% extends 'portfolio/layout.html' %}

{% block main %}


    <div class="container-home">
        <h3 class="titulos">Home</h3>
        <div class="frase"><h3>"As pessoas costumam dizer que a motivação não dura sempre.<br>
            Bem, nem o efeito do banho, por isso recomenda-se diariamente."
            </h3><h5>Zig Ziglar</h5>
        </div>

        <article>Este portfolio foi desenvolvido durante as aulas de Programação Web, que faz parte da Licenciatura de
        Informática de Gestão da Universidade Lusófona. Neste site pode-se encontrar mais detalhes sobre a licenciatura,
        projetos realizados, TFCs de anos anteriores, notícias, quizz sobre Programação Web e mais.</article>
    </div>


{% endblock main %}