{% extends 'portfolio/layout.html' %}

{% block main %}
	<h3 class="titulos">Licenciatura</h3>

    <div class = "container-licenciatura">
        <div class="semestre">
            <h2>Licenciatura de Informática de Gestão</h2>
            <h3>Ano 1 - Semestre 1</h3>
        </div>
        {% for cadeira in a1s1 %}
                <div class="cadeira">
                <h3>{{ cadeira.nome }}</h3>
                    <p>{{ cadeira.descricao }}</p>
                <p>Docente: {{ cadeira.docente_teorica.nome }}</p>
                </div>
        {% endfor %}


        <div class="semestre"><h3>Ano 1 - Semestre 2</h3></div>
        {% for cadeira in a1s2 %}
                <div class="cadeira">
                <h3>{{ cadeira.nome }}</h3>
                    <p>{{ cadeira.descricao }}</p>
                <p>Docente: {{ cadeira.docente_teorica.nome }}</p>
                </div>
        {% endfor %}

        <div class="semestre"><h3>Ano 2 - Semestre 1</h3></div>
        {% for cadeira in a2s1 %}
                <div class="cadeira">
                <h3>{{ cadeira.nome }}</h3>
                    <p>{{ cadeira.descricao }}</p>
                <p>Docente: {{ cadeira.docente_teorica.nome }}</p>
                </div>
        {% endfor %}

        <div class="semestre"><h3>Ano 2 - Semestre 2</h3></div>
        {% for cadeira in a2s2 %}
                <div class="cadeira">
                <h3>{{ cadeira.nome }}</h3>
                    <p>{{ cadeira.descricao }}</p>
                <p>Docente: {{ cadeira.docente_teorica.nome }}</p>
                </div>
        {% endfor %}
    </div>
{% endblock %}