{% extends 'portfolio/layout.html' %}

{% block main %}
    <h2 class="titulos">Projetos</h2>
    <div class = "container-projetos">
        <div>
        <h3 class="titulos">TFCs</h3>
            <h4 class="titulos">Selecionei 6 TFCs que julgo interessantes</h4>
             {% for Tfc in Tfcs %}
                <div class="tfcs">
                <h3>{{ Tfc.titulo }} ({{ Tfc.ano }})</h3>
                    <p>Autores: {{ Tfc.autores }}</p>
                <p>Orientadores: {{ Tfc.orientadores }}</p>
                <p>{{ Tfc.resumo }}</p>
                <p><a href = "{{ Tfc.link }}">GitHub do Projeto</a></p>
                </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}