{% extends 'portfolio/layout.html' %}

{% block main %}
	<h3 class="titulos">Sobre o site</h3>

    <div class="container-sobre">

        <div class="mapa">
            <h3 class="titulos">Mapa do Site</h3>
            {% load static %}
            <img src="{% static 'portfolio/images/mapa.png' %}">
        </div>


        <div class="tecnologias">
            <h3 class="titulos">Tecnologias Utilizadas no Site</h3>
             {% for tecnologia in Tecs %}
                <div class="tech">
                    <p class="lead">{{ tecnologia.nome }} ({{ tecnologia.acronimo }})</p>
                    <p>Autor: {{ tecnologia.criador }}</p>
                    <p>Ano: {{ tecnologia.ano }}</p>
                </div>
            {% endfor %}

        </div>

        <div class="padroes">
            <h3 class="titulos">Padrões Utilizados no Site</h3>
            <article>Neste site foram utilizados os padrões: AJAX, Client-server HTTP e software MVC<br><br>
            HTTP - protocolo de transferência que possibilita que as pessoas que inserem a URL do seu site na Web possam
                ver os conteúdos e dados que nele existem<br><br>
            Software MVC - facilita a troca de informações entre a interface do usuário aos dados no banco, fazendo com
                que as respostas sejam mais rápidas e dinâmicas<br><br>
            AJAX - conjunto de técnicas de desenvolvimento voltado para a web que permite que aplicações trabalhem de
                modo assíncrono, processando qualquer requisição ao servidor em segundo plano.</article>
        </div>

    </div>


{% endblock main %}